body {
  background-color: black;
}
.daisy {
  width: 600px;
  height: 600px;
}

.navlinks {
  text-decoration: none;
  color: white;
  /* padding: 10px; */
}
.navBox {
  /* color: white; */

}
.formInputs {
  font-family: 'Reenie Beanie', cursive;
  /* font-family: 'Schoolbell', cursive; */
  /* font-family: 'Special Elite', cursive; */
  font-size: 90px;
  color: white;
  max-width: 900px;
  
}
.userTitles {
  font-family: 'Reenie Beanie', cursive;
  font-size: 100px;
  color: white;
}
/*Login Stylings*/
.loginBody {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px pink solid; */
    max-width: 800px;
}
.loginFormBox {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid green; */
    height: 600px;
    padding: 30px;
    max-width: 600px;
    display: flex;
    justify-content: flex-end;
}
.formButtons {
    /* display: flex;
    justify-content: flex-end; */
    /* border: 1px solid red; */
}
/*Register Stylings*/
.registerBody {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px pink solid; */
    max-width: 800px;
}
.registerFormBox {
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid green; */
  height: 600px;
  padding: 30px;
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .daisy {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 650px) {
  .daisy {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 400px) {

}