/* body {
  background-color: black;
} */
.App {
  
}
.daisy {
  width: 100px;
  height: 100px;
}
.title {
  width: 200px;
  height: 100px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
