body {
  /* background-color: black; */
}
.daisy {
  width: 600px;
  height: 600px;
}
.title {
  width: 200px;
  height: 100px;
}
.navlinks {
  text-decoration: none;
  color: white;
}
.loginBody {
    margin-left: auto;
    margin-right: auto;
    border: 1px pink solid;
    max-width: 1000px;
}
.registerBody {
    margin-left: auto;
    margin-right: auto;
    border: 1px pink solid;
    max-width: 1000px;
}
