.homeBody {
    margin-left: auto;
    margin-right: auto;
    /* border: 1px pink solid; */
    max-width: 1200px;
  }
.homeBodyt {
  display: flex;
  flex-direction: column; 
  
}
.homenav {
  /* color: white; */
  padding: 10px;
}
.logout {
  width: 50px;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
.navlinks {
    text-decoration: none;
    color: white;
}
.navBox {
    display: flex;
}
.writingBox {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.pageTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 156px;
    color: white;
    /* border: 1px solid teal; */
}
.text {
  color: white;
  font-size: 50px;
}
/* .daisy {
  width: 500px;
  height: 500px;
} */
/* .daisyskull {
  width: 500px;
  height: 500px;
} */
.daisyBox {
  width: 600px;
  /* height: 600px; */
  /* border: 1px solid pink; */
  position: relative;
  display: inline-block;
}
.daisyBox .daisyskull {
  width: 600px;
  height: 600px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.daisyBox:hover .daisyskull{
  display: inline;
}
@media (max-width: 1600px) {
    .daisy {
      width: 500px;
      height: 500px;
    }
    .daisyskull {
      width: 500px;
      height: 500px;
    }
    .daisyBox {
      width: 600px;
      /* border: 1px solid pink; */
      position: relative;
      display: inline-block;
    }
    .daisyBox .daisyskull {
      width: 600px;
      height: 600px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    } 
    .pageTitle {
        font-size: 85px;
    }
  } 
  @media (max-width: 850px) {
    .daisy {
      width: 300px;
      height: 300px;
    }
    .daisyskull {
      width: 300px;
      height: 300px;
    }
    .daisyBox {
      width: 300px;
      /* border: 1px solid pink; */
      position: relative;
      display: inline-block;
    }
    .daisyBox .daisyskull {
      width: 300px;
      height: 300px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }
  }
  @media (max-width: 650px) {
    .daisy {
      width: 300px;
      height: 300px;
    }
    .daisyskull {
      width: 300px;
      height: 300px;
    }
    .daisyBox {
      width: 300px;
      /* border: 1px solid pink; */
      position: relative;
      display: inline-block;
    }
    .daisyBox .daisyskull {
      width: 300px;
      height: 300px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }
    .pageTitle {
      font-size: 70px;
  }
  }
  @media (max-width: 550px) {
    .daisy {
      width: 300px;
      height: 300px;
    }
    .daisyskull {
      width: 300px;
      height: 300px;
    }
    .daisyBox {
      width: 300px;
      /* border: 1px solid pink; */
      position: relative;
      display: inline-block;
    }
    .daisyBox .daisyskull {
      width: 300px;
      height: 300px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }
    .writingBox {
      display: flex;
      flex-direction: column-reverse;
    }
    .pageTitle {
      font-size: 35px;
  }
  @media (max-width: 400px) {
    .daisy {
      width: 300px;
      height: 300px;
    }
    .daisyskull {
      width: 300px;
      height: 300px;
    }
    .daisyBox {
      width: 300px;
      /* border: 1px solid pink; */
      position: relative;
      display: inline-block;
    }
    .daisyBox .daisyskull {
      width: 300px;
      height: 300px;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }
    .writingBox {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}