.notesUpdateBody {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.updateTitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 80px;
    color: white;
}
.updateFormBox {
    display: flex;
    flex-direction: column;
}
.note-form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}
.input-content {
    min-height: 200px;
}
.input-title {
    
}