.notesBody {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px double white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
  }
  .a-note {
    margin-top: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px double white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
.navlinks {
    text-decoration: none;
    color: white;
    padding:10px;
}
.home-title {
  max-width: 450px;
  /* font-family: 'Reenie Beanie', cursive; */
  font-family: 'Fredericka the Great', cursive;
  font-size: 100px;
  color: white;
  text-decoration: underline;
}
.note-buttons {
  color: white;
  width: 150px;
  margin: 10px;
  padding: 5px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
}
.note-title {
  font-size: 30px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  text-decoration: none;
}
.note-wrap {
  display:flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.note-card {
  margin: 10px;
  border: 2px solid white;
  padding: 10px;
}
.note-content {
  color: white;
  font-family: 'Reenie Beanie', cursive;
  max-width: 500px;
  min-height: 100px;
  display: flex;
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  font-size: 3rem;
  border: 2px double white;
  padding: 20px;
}
.note-buttonwrap {
  display: flex;
}
.input-content {
  min-height: 100px;
  max-width: 300px;
  font-size: 2rem;
  font-family: 'Reenie Beanie', cursive;
  margin: 10px;
}
.input-title {
  margin: 5px;
  font-size: 2rem;
  font-family: 'Reenie Beanie', cursive;
}
.input-button {
  background-color: black;
}
.noteFormBox {
  max-width: 500px;
  /* border: 2px white double; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}